/*
Write by Jumper Luko (jumperl.com/?page=on)
mailto: jumper.luko@gmail.com
Create: 09 Aug 2018
Modified: 05 march 2019

Please Read for help:
* https://css-tricks.com/snippets/css/a-guide-to-flexbox/
* https://www.w3schools.com/csS/css3_flexbox.asp
* https://www.w3schools.com/w3css/w3css_responsive.asp
* https://css-tricks.com/snippets/css/complete-guide-grid/
* https://www.w3schools.com/css/css_grid.asp
*/

* { box-sizing: border-box;}
body {margin: 0;padding: 0;}

/*---- ---- Responsive Flex ---- ----*/
/* Adjust size on child elements, only column */
[class*="fcol-"] {
    width: 100%;
    display: flex;
}
@media only screen and (min-width: 350px) {
    .fcol-ss-1 {width: 8.33%;}
    .fcol-ss-2 {width: 16.66%;}
    .fcol-ss-3 {width: 25%;}
    .fcol-ss-4 {width: 33.33%;}
    .fcol-ss-5 {width: 41.66%;}
    .fcol-ss-6 {width: 50%;}
    .fcol-ss-7 {width: 58.33%;}
    .fcol-ss-8 {width: 66.66%;}
    .fcol-ss-9 {width: 75%;}
    .fcol-ss-10 {width: 83.33%;}
    .fcol-ss-11 {width: 91.66%;}
    .fcol-ss-12 {width: 100%;}

    .fcol-ss_5{width:5%}
    .fcol-ss_10{width:10%}
    .fcol-ss_25{width:25%}
    .fcol-ss_20{width:20%}
    .fcol-ss_30{width:30%}
    .fcol-ss_35{width:35%}
    .fcol-ss_40{width:40%}
    .fcol-ss_45{width:45%}
    .fcol-ss_50{width:50%}
    .fcol-ss_55{width:55%}
    .fcol-ss_60{width:60%}
    .fcol-ss_65{width:65%}
    .fcol-ss_70{width:70%}
    .fcol-ss_75{width:75%}
    .fcol-ss_80{width:80%}
    .fcol-ss_85{width:85%}
    .fcol-ss_90{width:90%}
    .fcol-ss_95{width:95%}
    .fcol-ss_100{width:100%}
}
@media only screen and (min-width: 600px) {
    .fcol-s-1 {width: 8.33%;}
    .fcol-s-2 {width: 16.66%;}
    .fcol-s-3 {width: 25%;}
    .fcol-s-4 {width: 33.33%;}
    .fcol-s-5 {width: 41.66%;}
    .fcol-s-6 {width: 50%;}
    .fcol-s-7 {width: 58.33%;}
    .fcol-s-8 {width: 66.66%;}
    .fcol-s-9 {width: 75%;}
    .fcol-s-10 {width: 83.33%;}
    .fcol-s-11 {width: 91.66%;}
    .fcol-s-12 {width: 100%;}

    .fcol-s_5{width:5%}
    .fcol-s_10{width:10%}
    .fcol-s_25{width:25%}
    .fcol-s_20{width:20%}
    .fcol-s_30{width:30%}
    .fcol-s_35{width:35%}
    .fcol-s_40{width:40%}
    .fcol-s_45{width:45%}
    .fcol-s_50{width:50%}
    .fcol-s_55{width:55%}
    .fcol-s_60{width:60%}
    .fcol-s_65{width:65%}
    .fcol-s_70{width:70%}
    .fcol-s_75{width:75%}
    .fcol-s_80{width:80%}
    .fcol-s_85{width:85%}
    .fcol-s_90{width:90%}
    .fcol-s_95{width:95%}
    .fcol-s_100{width:100%}
}
@media only screen and (min-width: 768px) {
    .fcol-1 {width: 8.33%;}
    .fcol-2 {width: 16.66%;}
    .fcol-3 {width: 25%;}
    .fcol-4 {width: 33.33%;}
    .fcol-5 {width: 41.66%;}
    .fcol-6 {width: 50%;}
    .fcol-7 {width: 58.33%;}
    .fcol-8 {width: 66.66%;}
    .fcol-9 {width: 75%;}
    .fcol-10 {width: 83.33%;}
    .fcol-11 {width: 91.66%;}
    .fcol-12 {width: 100%;}

    .fcol_5{width:5%}
    .fcol_10{width:10%}
    .fcol_25{width:25%}
    .fcol_20{width:20%}
    .fcol_30{width:30%}
    .fcol_35{width:35%}
    .fcol_40{width:40%}
    .fcol_45{width:45%}
    .fcol_50{width:50%}
    .fcol_55{width:55%}
    .fcol_60{width:60%}
    .fcol_65{width:65%}
    .fcol_70{width:70%}
    .fcol_75{width:75%}
    .fcol_80{width:80%}
    .fcol_85{width:85%}
    .fcol_90{width:90%}
    .fcol_95{width:95%}
    .fcol_100{width:100%}
}
@media only screen and (min-width: 960px) {
    .fcol-m-1 {width: 8.33%;}
    .fcol-m-2 {width: 16.66%;}
    .fcol-m-3 {width: 25%;}
    .fcol-m-4 {width: 33.33%;}
    .fcol-m-5 {width: 41.66%;}
    .fcol-m-6 {width: 50%;}
    .fcol-m-7 {width: 58.33%;}
    .fcol-m-8 {width: 66.66%;}
    .fcol-m-9 {width: 75%;}
    .fcol-m-10 {width: 83.33%;}
    .fcol-m-11 {width: 91.66%;}
    .fcol-m-12 {width: 100%;}

    .fcol-m_5{width:5%}
    .fcol-m_10{width:10%}
    .fcol-m_25{width:25%}
    .fcol-m_20{width:20%}
    .fcol-m_30{width:30%}
    .fcol-m_35{width:35%}
    .fcol-m_40{width:40%}
    .fcol-m_45{width:45%}
    .fcol-m_50{width:50%}
    .fcol-m_55{width:55%}
    .fcol-m_60{width:60%}
    .fcol-m_65{width:65%}
    .fcol-m_70{width:70%}
    .fcol-m_75{width:75%}
    .fcol-m_80{width:80%}
    .fcol-m_85{width:85%}
    .fcol-m_90{width:90%}
    .fcol-m_95{width:95%}
    .fcol-m_100{width:100%}
}
@media only screen and (min-width: 1200px) {
    .fcol-b-1 {width: 8.33%;}
    .fcol-b-2 {width: 16.66%;}
    .fcol-b-3 {width: 25%;}
    .fcol-b-4 {width: 33.33%;}
    .fcol-b-5 {width: 41.66%;}
    .fcol-b-6 {width: 50%;}
    .fcol-b-7 {width: 58.33%;}
    .fcol-b-8 {width: 66.66%;}
    .fcol-b-9 {width: 75%;}
    .fcol-b-10 {width: 83.33%;}
    .fcol-b-11 {width: 91.66%;}
    .fcol-b-12 {width: 100%;}

    .fcol-b_5{width:5%}
    .fcol-b_10{width:10%}
    .fcol-b_25{width:25%}
    .fcol-b_20{width:20%}
    .fcol-b_30{width:30%}
    .fcol-b_35{width:35%}
    .fcol-b_40{width:40%}
    .fcol-b_45{width:45%}
    .fcol-b_50{width:50%}
    .fcol-b_55{width:55%}
    .fcol-b_60{width:60%}
    .fcol-b_65{width:65%}
    .fcol-b_70{width:70%}
    .fcol-b_75{width:75%}
    .fcol-b_80{width:80%}
    .fcol-b_85{width:85%}
    .fcol-b_90{width:90%}
    .fcol-b_95{width:95%}
    .fcol-b_100{width:100%}
}
@media only screen and (min-width: 1760px) {
    .fcol-g-1 {width: 8.33%;}
    .fcol-g-2 {width: 16.66%;}
    .fcol-g-3 {width: 25%;}
    .fcol-g-4 {width: 33.33%;}
    .fcol-g-5 {width: 41.66%;}
    .fcol-g-6 {width: 50%;}
    .fcol-g-7 {width: 58.33%;}
    .fcol-g-8 {width: 66.66%;}
    .fcol-g-9 {width: 75%;}
    .fcol-g-10 {width: 83.33%;}
    .fcol-g-11 {width: 91.66%;}
    .fcol-g-12 {width: 100%;}

    .fcol-g_5{width:5%}
    .fcol-g_10{width:10%}
    .fcol-g_25{width:25%}
    .fcol-g_20{width:20%}
    .fcol-g_30{width:30%}
    .fcol-g_35{width:35%}
    .fcol-g_40{width:40%}
    .fcol-g_45{width:45%}
    .fcol-g_50{width:50%}
    .fcol-g_55{width:55%}
    .fcol-g_60{width:60%}
    .fcol-g_65{width:65%}
    .fcol-g_70{width:70%}
    .fcol-g_75{width:75%}
    .fcol-g_80{width:80%}
    .fcol-g_85{width:85%}
    .fcol-g_90{width:90%}
    .fcol-g_95{width:95%}
    .fcol-g_100{width:100%}
}

/*---- ---- Responsive Grid ---- ----*/
/* Adjust size on father elements, column and row */
[class*="gcol-"] {
    display: grid;
    grid-template-columns: 100%;
}
@media only screen and (min-width: 300px) {
    .gcol--1 {grid-template-columns: 100%;}
    .gcol--2 {grid-template-columns: 50% 50%;}
    .gcol--3 {grid-template-columns: 33.3334% 33.3334% 33.3334%;}
    .gcol--4 {grid-template-columns: 25% 25% 25% 25%;}
    .gcol--5 {grid-template-columns: 20% 20% 20% 20% 20%;}
    .gcol--6 {grid-template-columns: 16.6667% 16.6667% 16.6667% 16.6667% 16.6667% 16.6667%;}
    .gcol--7 {grid-template-columns: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;}
    .gcol--8 {grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;}
    .gcol--9 {grid-template-columns: 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112%;}
    .gcol--10 {grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;}
    .gcol--11 {grid-template-columns: 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909%;}
    .gcol--12 {grid-template-columns: 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334%;}
}
@media only screen and (min-width: 350px) {
    .gcol-ss-1 {grid-template-columns: 100%;}
    .gcol-ss-2 {grid-template-columns: 50% 50%;}
    .gcol-ss-3 {grid-template-columns: 33.3334% 33.3334% 33.3334%;}
    .gcol-ss-4 {grid-template-columns: 25% 25% 25% 25%;}
    .gcol-ss-5 {grid-template-columns: 20% 20% 20% 20% 20%;}
    .gcol-ss-6 {grid-template-columns: 16.6667% 16.6667% 16.6667% 16.6667% 16.6667% 16.6667%;}
    .gcol-ss-7 {grid-template-columns: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;}
    .gcol-ss-8 {grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;}
    .gcol-ss-9 {grid-template-columns: 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112%;}
    .gcol-ss-10 {grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;}
    .gcol-ss-11 {grid-template-columns: 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909%;}
    .gcol-ss-12 {grid-template-columns: 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334%;}
}
@media only screen and (min-width: 600px) {
    .gcol-s-1 {grid-template-columns: 100%;}
    .gcol-s-2 {grid-template-columns: 50% 50%;}
    .gcol-s-3 {grid-template-columns: 33.3334% 33.3334% 33.3334%;}
    .gcol-s-4 {grid-template-columns: 25% 25% 25% 25%;}
    .gcol-s-5 {grid-template-columns: 20% 20% 20% 20% 20%;}
    .gcol-s-6 {grid-template-columns: 16.6667% 16.6667% 16.6667% 16.6667% 16.6667% 16.6667%;}
    .gcol-s-7 {grid-template-columns: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;}
    .gcol-s-8 {grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;}
    .gcol-s-9 {grid-template-columns: 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112%;}
    .gcol-s-10 {grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;}
    .gcol-s-11 {grid-template-columns: 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909%;}
    .gcol-s-12 {grid-template-columns: 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334%;}
}
@media only screen and (min-width: 768px) {
    .gcol-1 {grid-template-columns: 100%;}
    .gcol-2 {grid-template-columns: 50% 50%;}
    .gcol-3 {grid-template-columns: 33.3334% 33.3334% 33.3334%;}
    .gcol-4 {grid-template-columns: 25% 25% 25% 25%;}
    .gcol-5 {grid-template-columns: 20% 20% 20% 20% 20%;}
    .gcol-6 {grid-template-columns: 16.6667% 16.6667% 16.6667% 16.6667% 16.6667% 16.6667%;}
    .gcol-7 {grid-template-columns: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;}
    .gcol-8 {grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;}
    .gcol-9 {grid-template-columns: 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112%;}
    .gcol-10 {grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;}
    .gcol-11 {grid-template-columns: 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909%;}
    .gcol-12 {grid-template-columns: 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334%;}
}
@media only screen and (min-width: 960px) {
    .gcol-m-1 {grid-template-columns: 100%;}
    .gcol-m-2 {grid-template-columns: 50% 50%;}
    .gcol-m-3 {grid-template-columns: 33.3334% 33.3334% 33.3334%;}
    .gcol-m-4 {grid-template-columns: 25% 25% 25% 25%;}
    .gcol-m-5 {grid-template-columns: 20% 20% 20% 20% 20%;}
    .gcol-m-6 {grid-template-columns: 16.6667% 16.6667% 16.6667% 16.6667% 16.6667% 16.6667%;}
    .gcol-m-7 {grid-template-columns: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;}
    .gcol-m-8 {grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;}
    .gcol-m-9 {grid-template-columns: 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112%;}
    .gcol-m-10 {grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;}
    .gcol-m-11 {grid-template-columns: 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909%;}
    .gcol-m-12 {grid-template-columns: 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334%;}
}
@media only screen and (min-width: 1200px) {
    .gcol-b-1 {grid-template-columns: 100%;}
    .gcol-b-2 {grid-template-columns: 50% 50%;}
    .gcol-b-3 {grid-template-columns: 33.3334% 33.3334% 33.3334%;}
    .gcol-b-4 {grid-template-columns: 25% 25% 25% 25%;}
    .gcol-b-5 {grid-template-columns: 20% 20% 20% 20% 20%;}
    .gcol-b-6 {grid-template-columns: 16.6667% 16.6667% 16.6667% 16.6667% 16.6667% 16.6667%;}
    .gcol-b-7 {grid-template-columns: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;}
    .gcol-b-8 {grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;}
    .gcol-b-9 {grid-template-columns: 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112%;}
    .gcol-b-10 {grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;}
    .gcol-b-11 {grid-template-columns: 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909%;}
    .gcol-b-12 {grid-template-columns: 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334%;}
}
@media only screen and (min-width: 1760px) {
    .gcol-g-1 {grid-template-columns: 100%;}
    .gcol-g-2 {grid-template-columns: 50% 50%;}
    .gcol-g-3 {grid-template-columns: 33.3334% 33.3334% 33.3334%;}
    .gcol-g-4 {grid-template-columns: 25% 25% 25% 25%;}
    .gcol-g-5 {grid-template-columns: 20% 20% 20% 20% 20%;}
    .gcol-g-6 {grid-template-columns: 16.6667% 16.6667% 16.6667% 16.6667% 16.6667% 16.6667%;}
    .gcol-g-7 {grid-template-columns: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;}
    .gcol-g-8 {grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;}
    .gcol-g-9 {grid-template-columns: 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112%;}
    .gcol-g-10 {grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;}
    .gcol-g-11 {grid-template-columns: 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909%;}
    .gcol-g-12 {grid-template-columns: 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334%;}
}

[class*="grow-"] {
    display: grid;
}
.grow-1 {grid-template-rows: 100%;}
.grow-2 {grid-template-rows: 50% 50%;}
.grow-3 {grid-template-rows: 33.3334% 33.3334% 33.3334%;}
.grow-4 {grid-template-rows: 25% 25% 25% 25%;}
.grow-5 {grid-template-rows: 20% 20% 20% 20% 20%;}
.grow-6 {grid-template-rows: 16.6667% 16.6667% 16.6667% 16.6667% 16.6667% 16.6667%;}
.grow-7 {grid-template-rows: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;}
.grow-8 {grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;}
.grow-9 {grid-template-rows: 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112%;}
.grow-10 {grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;}
.grow-11 {grid-template-rows: 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909%;}
.grow-12 {grid-template-rows: 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334%;}

/*---- ---- Responsive vanilla ---- ----*/
/* Adjust size on child elements, only column, vanilla mode */
[class*="vcol-"] {
    width: 100%;
}
@media only screen and (min-width: 350px) {
    .vcol-ss-1 {width: 8.33%;}
    .vcol-ss-2 {width: 16.66%;}
    .vcol-ss-3 {width: 25%;}
    .vcol-ss-4 {width: 33.33%;}
    .vcol-ss-5 {width: 41.66%;}
    .vcol-ss-6 {width: 50%;}
    .vcol-ss-7 {width: 58.33%;}
    .vcol-ss-8 {width: 66.66%;}
    .vcol-ss-9 {width: 75%;}
    .vcol-ss-10 {width: 83.33%;}
    .vcol-ss-11 {width: 91.66%;}
    .vcol-ss-12 {width: 100%;}

    .vcol-ss_5{width:5%}
    .vcol-ss_10{width:10%}
    .vcol-ss_25{width:25%}
    .vcol-ss_20{width:20%}
    .vcol-ss_30{width:30%}
    .vcol-ss_35{width:35%}
    .vcol-ss_40{width:40%}
    .vcol-ss_45{width:45%}
    .vcol-ss_50{width:50%}
    .vcol-ss_55{width:55%}
    .vcol-ss_60{width:60%}
    .vcol-ss_65{width:65%}
    .vcol-ss_70{width:70%}
    .vcol-ss_75{width:75%}
    .vcol-ss_80{width:80%}
    .vcol-ss_85{width:85%}
    .vcol-ss_90{width:90%}
    .vcol-ss_95{width:95%}
    .vcol-ss_100{width:100%}
}
@media only screen and (min-width: 600px) {
    .vcol-s-1 {width: 8.33%;}
    .vcol-s-2 {width: 16.66%;}
    .vcol-s-3 {width: 25%;}
    .vcol-s-4 {width: 33.33%;}
    .vcol-s-5 {width: 41.66%;}
    .vcol-s-6 {width: 50%;}
    .vcol-s-7 {width: 58.33%;}
    .vcol-s-8 {width: 66.66%;}
    .vcol-s-9 {width: 75%;}
    .vcol-s-10 {width: 83.33%;}
    .vcol-s-11 {width: 91.66%;}
    .vcol-s-12 {width: 100%;}

    .vcol-s_5{width:5%}
    .vcol-s_10{width:10%}
    .vcol-s_25{width:25%}
    .vcol-s_20{width:20%}
    .vcol-s_30{width:30%}
    .vcol-s_35{width:35%}
    .vcol-s_40{width:40%}
    .vcol-s_45{width:45%}
    .vcol-s_50{width:50%}
    .vcol-s_55{width:55%}
    .vcol-s_60{width:60%}
    .vcol-s_65{width:65%}
    .vcol-s_70{width:70%}
    .vcol-s_75{width:75%}
    .vcol-s_80{width:80%}
    .vcol-s_85{width:85%}
    .vcol-s_90{width:90%}
    .vcol-s_95{width:95%}
    .vcol-s_100{width:100%}
}
@media only screen and (min-width: 768px) {
    .vcol-1 {width: 8.33%;}
    .vcol-2 {width: 16.66%;}
    .vcol-3 {width: 25%;}
    .vcol-4 {width: 33.33%;}
    .vcol-5 {width: 41.66%;}
    .vcol-6 {width: 50%;}
    .vcol-7 {width: 58.33%;}
    .vcol-8 {width: 66.66%;}
    .vcol-9 {width: 75%;}
    .vcol-10 {width: 83.33%;}
    .vcol-11 {width: 91.66%;}
    .vcol-12 {width: 100%;}

    .vcol_5{width:5%}
    .vcol_10{width:10%}
    .vcol_25{width:25%}
    .vcol_20{width:20%}
    .vcol_30{width:30%}
    .vcol_35{width:35%}
    .vcol_40{width:40%}
    .vcol_45{width:45%}
    .vcol_50{width:50%}
    .vcol_55{width:55%}
    .vcol_60{width:60%}
    .vcol_65{width:65%}
    .vcol_70{width:70%}
    .vcol_75{width:75%}
    .vcol_80{width:80%}
    .vcol_85{width:85%}
    .vcol_90{width:90%}
    .vcol_95{width:95%}
    .vcol_100{width:100%}
}
@media only screen and (min-width: 960px) {
    .vcol-m-1 {width: 8.33%;}
    .vcol-m-2 {width: 16.66%;}
    .vcol-m-3 {width: 25%;}
    .vcol-m-4 {width: 33.33%;}
    .vcol-m-5 {width: 41.66%;}
    .vcol-m-6 {width: 50%;}
    .vcol-m-7 {width: 58.33%;}
    .vcol-m-8 {width: 66.66%;}
    .vcol-m-9 {width: 75%;}
    .vcol-m-10 {width: 83.33%;}
    .vcol-m-11 {width: 91.66%;}
    .vcol-m-12 {width: 100%;}

    .vcol-m_5{width:5%}
    .vcol-m_10{width:10%}
    .vcol-m_25{width:25%}
    .vcol-m_20{width:20%}
    .vcol-m_30{width:30%}
    .vcol-m_35{width:35%}
    .vcol-m_40{width:40%}
    .vcol-m_45{width:45%}
    .vcol-m_50{width:50%}
    .vcol-m_55{width:55%}
    .vcol-m_60{width:60%}
    .vcol-m_65{width:65%}
    .vcol-m_70{width:70%}
    .vcol-m_75{width:75%}
    .vcol-m_80{width:80%}
    .vcol-m_85{width:85%}
    .vcol-m_90{width:90%}
    .vcol-m_95{width:95%}
    .vcol-m_100{width:100%}
}
@media only screen and (min-width: 1200px) {
    .vcol-b-1 {width: 8.33%;}
    .vcol-b-2 {width: 16.66%;}
    .vcol-b-3 {width: 25%;}
    .vcol-b-4 {width: 33.33%;}
    .vcol-b-5 {width: 41.66%;}
    .vcol-b-6 {width: 50%;}
    .vcol-b-7 {width: 58.33%;}
    .vcol-b-8 {width: 66.66%;}
    .vcol-b-9 {width: 75%;}
    .vcol-b-10 {width: 83.33%;}
    .vcol-b-11 {width: 91.66%;}
    .vcol-b-12 {width: 100%;}

    .vcol-b_5{width:5%}
    .vcol-b_10{width:10%}
    .vcol-b_25{width:25%}
    .vcol-b_20{width:20%}
    .vcol-b_30{width:30%}
    .vcol-b_35{width:35%}
    .vcol-b_40{width:40%}
    .vcol-b_45{width:45%}
    .vcol-b_50{width:50%}
    .vcol-b_55{width:55%}
    .vcol-b_60{width:60%}
    .vcol-b_65{width:65%}
    .vcol-b_70{width:70%}
    .vcol-b_75{width:75%}
    .vcol-b_80{width:80%}
    .vcol-b_85{width:85%}
    .vcol-b_90{width:90%}
    .vcol-b_95{width:95%}
    .vcol-b_100{width:100%}
}
@media only screen and (min-width: 1760px) {
    .vcol-g-1 {width: 8.33%;}
    .vcol-g-2 {width: 16.66%;}
    .vcol-g-3 {width: 25%;}
    .vcol-g-4 {width: 33.33%;}
    .vcol-g-5 {width: 41.66%;}
    .vcol-g-6 {width: 50%;}
    .vcol-g-7 {width: 58.33%;}
    .vcol-g-8 {width: 66.66%;}
    .vcol-g-9 {width: 75%;}
    .vcol-g-10 {width: 83.33%;}
    .vcol-g-11 {width: 91.66%;}
    .vcol-g-12 {width: 100%;}

    .vcol-g_5{width:5%}
    .vcol-g_10{width:10%}
    .vcol-g_25{width:25%}
    .vcol-g_20{width:20%}
    .vcol-g_30{width:30%}
    .vcol-g_35{width:35%}
    .vcol-g_40{width:40%}
    .vcol-g_45{width:45%}
    .vcol-g_50{width:50%}
    .vcol-g_55{width:55%}
    .vcol-g_60{width:60%}
    .vcol-g_65{width:65%}
    .vcol-g_70{width:70%}
    .vcol-g_75{width:75%}
    .vcol-g_80{width:80%}
    .vcol-g_85{width:85%}
    .vcol-g_90{width:90%}
    .vcol-g_95{width:95%}
    .vcol-g_100{width:100%}
}

/*---- ---- Generic Elements ---- ----*/
a.ainherit{
    color: inherit;
    text-decoration: inherit;
}

.rightText{text-align: right;}
.leftText{text-align: left;}
.centerText{text-align:center;}
.justifyText{text-align: justify;}
.inheritText{text-align: inherit;}

.displayBlock{display: block;}
.displayTable{display: table;}
.displayInherit{display: inherit;}

/*---- Elements Text ----*/
/* Fonts Sizes, i'm like. You just can remove the point.*/
@media only screen and (max-width: 767px) {
.h1{font-size:54px;}
.h2{font-size:32px;}
.h3{font-size:22px;}
.h4{font-size:18px;}
.h5{font-size:15px;}
.h6{font-size:13px;}
.h7{font-size:11px;}
.h8{font-size:9px;}
}
@media only screen and (min-width: 768px) {
.h1{font-size:63px;}
.h2{font-size:38px;}
.h3{font-size:26px;}
.h4{font-size:21px;}
.h5{font-size:18px;}
.h6{font-size:15px;}
.h7{font-size:13px;}
.h8{font-size:11px;}
}
@media only screen and (min-width: 960px) {
.h1{font-size:74px;}
.h2{font-size:44px;}
.h3{font-size:31px;}
.h4{font-size:25px;}
.h5{font-size:21px;}
.h6{font-size:18px;}
.h7{font-size:15px;}
.h8{font-size:13px;}
}

/*---- ---- Elements Flex and Grid ---- ----*/
/* These elements can be used in Flex and grid */
/* Now i am thinking.... Someone can use somethink like "acijcC", thats are Align Content and Items + Justify Contente on Center. Are a default, but hard to think, i need better ideas. If I can not use it, who else could? */
/* In the problem with "acijcC" I can just write all the description, but could result in a big thing to think. Groups are simply way to understand and apply, but I want it if anyone uses my library a lot, that this one can use without reading the code.  */
.left,.startH,.jcS,.jcStart{justify-content: flex-start;}
.left-self,.startH-self,.jsS,.jsStart{justify-self: flex-start;} /* if my dreams come true */

.right,.endH,.jcE,.jcEnd{justify-content: flex-end;}
.right-self,.endH-self,.jsE,.jsEnd{justify-self: flex-end;} /* if my dreams come true */

.up,.startV,.aciS,.aciStart{
    align-content: flex-start;
    align-items: flex-start;
}
.up1,.startV1,.acS,.acStart{align-content: flex-start;}
.up2,.startV2,.aiS,.aiStart,.items-start{align-items: flex-start;}
.up-self,.startV-self,.asS,.asStart,.self-start{align-self: flex-start;}

.down,.endV,.aciE,.aciEnd{
     align-content: flex-end;
     align-items: flex-end;
 }
.down1,.endV1,.acE,.acEnd{align-content: flex-end;}
.down2,.endV2,.aiE,.aiEnd,.items-end{align-items: flex-end;}
.down-self,.endV-self,.asE,.asEnd,.self-end{align-self: flex-end;}

.center,.jcaciC,.acijcC,.jcaciCenter,.acijcCenter{
    justify-content:center;
    align-content: center;
    align-items: center;
}
.centerA,.jcacC,.acjcC,.jcacCenter,.acjcCenter{
    justify-content:center;
    align-content: center;
}
.centerB,.jcaiC,.aijcC,.jcaiCenter,.aijcCenter{
    justify-content:center;
    align-items: center;
}
.centerC,.centerV,.aciC,.aciCenter{
    align-content: center;
    align-items: center;
}
.centerH,.jcC,.jcCenter{justify-content: center;}
.centerV,.aciC,.aciCenter{
    align-content: center;
    align-items: center;
}
.centerV1,.acC,.acCenter{align-content: center;}
.centerV2,.aiC,.aiCenter,.items-center{align-items: center;}

.between,.jcacB,.acjcB,.jcacBetween,.acjcBetween{
    justify-content: space-between;
    align-content: space-between;
}
.betweenH,.jcB,.jcBetween{justify-content: space-between;}
.betweenV,.acB,.acBetween{align-content: space-between;}

.around,.jcacA,.acjcA,.jcacAround,.acjcAround{
    justify-content: space-around;
    align-content: space-around;
}
.aroundH,.jcA,.jcAround{justify-content: space-around;}
.aroundV,.acA,.acAround{align-content: space-around;}

.stretchV,.stretch,.aciS,.aciStretch{
    align-content: stretch;
    align-items: stretch;
}
.stretchV1,.acS,.acStretch{align-content: stretch;}
.stretchV2,.aiS,.aiStretch,.items-stretch{align-items: stretch;}

.jcE,.jcEvenly,.evenly{justify-content: space-evenly;}

.aiB,.aiBaseline,.baseline,.items-baseline{align-items: baseline;}

.inline,.start{
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}.inline-inverse,.end{
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
}
.inlineW,.startW{
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}.inline-inverseW,.endW{
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
}

/*---- ---- Elements Flex only ---- ----*/
/* These elements can be used only in Flex */
html {font-family: "Lucida Sans", sans-serif, Arial;}
.flex{display: flex;}
.wrap{flex-wrap: wrap;}
.column{flex-direction: column;}
.row{flex-direction: row;}
.inlineF,.startF{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}.inlineF-inverse,.endF{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
}
.inlineWF,.startWF{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}.inlineWF-inverse,.endWF{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
}

/*---- ---- Elements Grid only ---- ----*/
/* These elements can be used only in Grid */
.grid{display: grid;}

/*---- ---- Menu Flex ---- ----*/
/* Menu Dropdown! please use div */
.dropdown{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row; /* or column */
    /* put the height and width here! */
}
.dropdown > .dropdown-title{
    width: 100%;
    height: 100%;
}
.dropdown > .dropdown-sub{
    display: none;
    z-index: 1;
    flex-direction: column; /* or row */
    /* width: 100%; */
}
.dropdown:hover > .dropdown-sub {
    display: flex;
}.dropdown:hover > .dropdown-sub  > .dropdown-option:hover{
    /* background-color: #abcdef; */
}
/*
<div class="dropdown" style="height: 20px;">
    <div class="dropdown-title">Title</div>
    <div class="dropdown-sub">
        <div class="dropdown-option">option 1</div>
        <div class="dropdown-option">option 2</div>
    </div>
</div>
*/
