/*
Write by Jumper Luko (www.jumperl.com)
mailto: jumper.luko@gmail.com
Create: 06 Jul 2018

Please Read for help:
* https://css-tricks.com/snippets/css/a-guide-to-flexbox/
* https://www.w3schools.com/w3css/w3css_responsive.asp
*/


/*---- ---- Responsive Flex ---- ----*/
* {
    box-sizing: border-box;
    /* Unlock below and it will be like float left */
    /*display:flex;
    flex-wrap:wrap;
    align-content: flex-start;
    align-items: flex-start;*/
}
body{
    display: flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-content: flex-start;
}

[class*="col-"] {
    width: 100%;
    display: flex;
}
@media only screen and (min-width: 350px) {
    .col-ss-1 {width: 8.33%;}
    .col-ss-2 {width: 16.66%;}
    .col-ss-3 {width: 25%;}
    .col-ss-4 {width: 33.33%;}
    .col-ss-5 {width: 41.66%;}
    .col-ss-6 {width: 50%;}
    .col-ss-7 {width: 58.33%;}
    .col-ss-8 {width: 66.66%;}
    .col-ss-9 {width: 75%;}
    .col-ss-10 {width: 83.33%;}
    .col-ss-11 {width: 91.66%;}
    .col-ss-12 {width: 100%;}
}
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
@media only screen and (min-width: 960px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 1200px) {
    .col-b-1 {width: 8.33%;}
    .col-b-2 {width: 16.66%;}
    .col-b-3 {width: 25%;}
    .col-b-4 {width: 33.33%;}
    .col-b-5 {width: 41.66%;}
    .col-b-6 {width: 50%;}
    .col-b-7 {width: 58.33%;}
    .col-b-8 {width: 66.66%;}
    .col-b-9 {width: 75%;}
    .col-b-10 {width: 83.33%;}
    .col-b-11 {width: 91.66%;}
    .col-b-12 {width: 100%;}
}
@media only screen and (min-width: 1760px) {
    .col-g-1 {width: 8.33%;}
    .col-g-2 {width: 16.66%;}
    .col-g-3 {width: 25%;}
    .col-g-4 {width: 33.33%;}
    .col-g-5 {width: 41.66%;}
    .col-g-6 {width: 50%;}
    .col-g-7 {width: 58.33%;}
    .col-g-8 {width: 66.66%;}
    .col-g-9 {width: 75%;}
    .col-g-10 {width: 83.33%;}
    .col-g-11 {width: 91.66%;}
    .col-g-12 {width: 100%;}
}

/* Fonts Sizes, i'm like. You just can remove the point.*/
/* @media only screen and (max-width: 767px) {
.h1{font-size:44px;}
.h2{font-size:24px;}
.h3{font-size:16px;}
.h4{font-size:14px;}
.h5{font-size:13px;}
.h6{font-size:10px;}
.h7{font-size:8px;}
.h8{font-size:6px;}
}
@media only screen and (min-width: 768px) {
.h1{font-size:63px;}
.h2{font-size:36px;}
.h3{font-size:23px;}
.h4{font-size:21px;}
.h5{font-size:19px;}
.h6{font-size:18px;}
.h7{font-size:px;}
.h8{font-size:px;}
} */
/* @media only screen and (min-width: 960px) { */
.h1{font-size:74px;}
.h2{font-size:42px;}
.h3{font-size:27px;}
.h4{font-size:24px;}
.h5{font-size:22px;}
.h6{font-size:18px;}
.h7{font-size:14px;}
.h8{font-size:11px;}
/* } */

/*---- ---- Elements Flex ---- ----*/
html {
    font-family: "Lucida Sans", sans-serif, Arial;
}
.flex{display: flex;}
.wrap{flex-wrap:wrap; display: flex;}
.column{flex-direction: column;}
.row{flex-direction: row;}

.leftW,.startW{
    justify-content: flex-start;
    flex-wrap:wrap;
    display: flex;
}.rightW,.endW{
    justify-content: flex-end;
    flex-wrap:wrap;
    display: flex;
}
.centerW{
    justify-content:center;
    align-content: center;
    flex-wrap:wrap;
    display: flex;
}.centerHW{
    justify-content: center;
    flex-wrap:wrap;
    display: flex;
}.centerVW{
    align-content: center;
    flex-wrap:wrap;
    display: flex;
}
.left,.start{justify-content: flex-start; display: flex;}
.right,.end{justify-content: flex-end; display: flex;}
.up{align-content: flex-start; display: flex;}
.down{align-content: flex-end; display: flex;}
.center{
    justify-content:center;
    align-content: center;
    display: flex;
}
.centerH{justify-content: center; display: flex;}
.centerV{align-content: center; display: flex;}
.between{
    justify-content: space-between;
    align-content: space-between;
    display: flex;
}
.betweenH{justify-content: space-between; display: flex;}
.betweenV{align-content: space-between; display: flex;}
.around{
    justify-content: space-around;
    align-content: space-around;
    display: flex;
}
.aroundH{justify-content: space-around; display: flex;}
.aroundV{align-content: space-around; display: flex;}
.evenly{justify-content: space-evenly; display: flex;}
.stretch{align-content:stretch; display: flex;}

.items-start{align-items: flex-start; display: flex;}
.items-end{align-items: flex-end; display: flex;}
.items-center{align-items: center; display: flex;}
.items-baseline{align-items: baseline; display: flex;}
.items-stretch{align-items: stretch; display: flex;}

.rightText{text-align: right;}
.leftText{text-align: left;}
.centerText{text-align:center;}
.justifyText{text-align: justify;}
.inheritText{text-align: inherit;}

/*---- ---- Menu Flex ---- ----*/
/* Menu Dropdown! please use div */
.dropdown{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row; /* or column */
    /* put the height and width here! */
}
.dropdown > .dropdown-title{
    width: 100%;
    height: 100%;
}
.dropdown > .dropdown-sub{
    display: none;
    z-index: 1;
    flex-direction: column; /* or row */
    /* width: 100%; */
}
.dropdown:hover > .dropdown-sub {
    display: flex;
}.dropdown:hover > .dropdown-sub  > .dropdown-option:hover{
    /* background-color: #abcdef; */
}
/*
<div class="dropdown" style="height: 20px;">
    <div class="dropdown-title">Title</div>
    <div class="dropdown-sub">
        <div class="dropdown-option">option 1</div>
        <div class="dropdown-option">option 2</div>
    </div>
</div>
*/
